<%= form_for(@thingy) do |f| %>
  <% if @thingy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thingy.errors.count, "error") %> prohibited this thingy from being saved:</h2>

      <ul>
      <% @thingy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <section class="row">
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, label: 'Thingy Name' %>
    </div>

    <div class="field">
      <p>Upload an image for this thingy.</p>
      <%= image_tag(@thingy.image.url) if @thingy.image? %>
      <%= f.file_field :image %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  </section>
<% end %>
